body {
    background: url("FondoConComida.jpg");
}

.Titulo_Principal {
    background-color: rgba(41, 39, 37, 0.952);
    padding: 20px;
    margin-top: 0px;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.Subtitulo {
    text-align: center;
    color: rgb(73, 41, 23);
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 2.5%;
}

.Formulario {
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 400px;
    background-color: rgba(41, 39, 37, 0.952);
    left: 40%;
    border-radius: 15px;
}

.Formulario_hijo {
    position: absolute;
    margin-top: 7%;
    margin-left: 7%;
}

.Formulario_Input {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    height: 35px;
    width: 300px;
}

.Formulario_Texto {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 15px;
    margin-bottom: 5px;
}

.Formulario_Link {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: rgb(34, 34, 82);
    top: 10px;
}

.Formulario_Boton {
    position: relative;
    left: 38%;
    top: 15%
}